<app-nav-bar></app-nav-bar>
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="text-center">Panel de Control de las Cartas</h2> 
                </div>
                <div id="dataTables-example_filter" class="text-center">
                    <label >Búsqueda:<input type="search" class="form-control input-sm" placeholder="Etiqueta"  (keyup.enter)="doSpecificSearch()" [(ngModel)]="inputSearch"></label>
                </div>
                <div class="panel-body">
                    <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Historia</th>
                                <th>Etiquetas</th>
                                <th class="text-center">Visualizar</th>
                                <th class="text-center">Actualizar</th>
                                <th class="text-center">Borrar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of items ; let i = index">
                                <td >{{ item.name }}</td>
                                <td>{{ item.history }}</td>
                                <td>{{ item.tags }}</td>
                                <td class="text-center"><button class="btn btn-info btn-circle" (click)= "sawCard(i)" data-toggle="modal" data-target="#myModal"><i class="fa fa-search-plus"></i></button></td>
                                <td class="text-center"><button class="btn btn-info btn-circle" (click)= "updateCard(i)" ><i class="fa fa-pencil"></i></button></td>
                                <td class="text-center"><button type="button" class="btn btn-danger btn-circle" (click)= "deleteCard(i)"><i class="fa fa-times"></i></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="text-center" id="myModalLabel">Visualizador de Carta</h3>
                </div>
                <div class="modal-body">
                    <br>
                    <img [src] = "url" >
                    <br>
                    <p class="text-info">Nombre</p> <input class="form-control" id="disabledInput" type="text" placeholder="{{ nameDisplay }}" disabled>
                    <br>
                    <p class="text-info">Historia</p> <textarea class="form-control" id="disabledInput" type="text" rows="9" placeholder="{{ historyDisplay }}" disabled></textarea>
                    <br>
                    <p class="text-info">Etiquetas</p> <input class="form-control" id="disabledInput" type="text" placeholder="{{ tagsDisplay }}" disabled>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>            
</div>

