<app-nav-bar></app-nav-bar>
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="text-center">Todas las Estadísticas de una Colección</h2> 
                </div>
                <br>
                <div id="dataTables-example_filter" class="text-center">
                    <label >Búsqueda:<input type="search" class="form-control input-sm" placeholder="ID de la colección"  (keyup.enter)="doSpecificSearch()" [(ngModel)]="inputSearch"></label>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="text-center">
                                    Juegos Arcade vs Juegos Survival
                                </div>
                            </div>
                            <div class="panel-body">
                                <div id="morris-donut-chart-gamemodevs"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="text-center">
                                    Juegos Arcade donde se hayan usado comodínes vs donde no
                                </div>
                            </div>
                            <div class="panel-body">
                                <div id="morris-bar-chart-jokersvs"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                    </div>
                    <div class="text-center">
                        <div class="col-lg-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="text-center">
                                        Uso de cada tipo de comodín
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div id="morris-donut-chart-mostusedjokers"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>























 
