<app-nav-bar></app-nav-bar>
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Panel General</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-image fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ actualCards }}</div>
                            <div>Cartas Creadas</div>
                        </div>
                    </div>
                </div>
                <a routerLink="/cardsCP">
                    <div class="panel-footer">
                        <span class="pull-left" >Ver en Detalle</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-image fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ actualCollections }}</div>
                            <div>Colecciones Creadas</div>
                        </div>
                    </div>
                </div>
                <a routerLink="/collectionsCP">
                    <div class="panel-footer">
                        <span class="pull-left" >Ver en Detalle</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-cog fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ actualCollectionsPublished }}</div>
                            <div>Colecciones Publicadas</div>
                        </div>
                    </div>
                </div>
                <a routerLink="/GameConfigCP">
                    <div class="panel-footer">
                        <span class="pull-left">Ver en Detalle</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-gamepad fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ actualNumberOfGamesPlayed }}</div>
                            <div>Partidas jugadas</div>
                        </div>
                    </div>
                </div>
                <a routerLink="/AllStatistics">
                    <div class="panel-footer">
                        <span class="pull-left" >Ver en Detalle</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Juegos Arcade vs Juegos Survival
                </div>
                <div class="panel-body">
                    <div id="morris-donut-chart-gamemodevs"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Juegos Arcade donde se hayan usado comodínes vs donde no
                </div>
                <div class="panel-body">
                    <div id="morris-bar-chart-jokersvs"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
        </div>
        <div class="text-center">
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Uso de cada tipo de comodín
                    </div>
                    <div class="panel-body">
                        <div id="morris-donut-chart-mostusedjokers"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>























 
